

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.search-container ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.search-input {
  width: 50%;
  font-size: 1.2em;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 20px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  text-align: center;
}

.search-input:focus {
  outline: none;
}

.results-dropdown {
  position: absolute;
  top: 100%; /* Juste en dessous de l'input */
  left: 50%;
  transform: translateX(-50%);
  width: calc(50% + 20px); /* Même largeur que l'input */
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Assure que le menu est au-dessus */
  max-height: 300px; /* Limite la hauteur */
  overflow-y: auto; /* Permet de scroller si trop d'éléments */
}

.hidden {
  display: none;
}

.result-item {
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
}

.result-item:hover {
  background-color: #f1f1f1;
}

.selected-game {
  margin-top: 20px;
  text-align: center;
}

.selected-game img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-block: 20px;
  object-fit: cover;
  object-position: center;
}

.add-to-database-button {
  padding: 10px 20px;
  margin: 20px 0;
  border: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
