.game-image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}

.game-header {
  display: flex;
  align-items: center;
  margin: 40px 80px;
  gap: 40px;
}

.challenges-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 80px;
}

.challenges-form {
  display: flex;
  flex-direction: column;


}

.challenges-form input {
  margin-bottom: 20px;
  font-size: 1rem;
}

/* Challenges Container */
.challenges-container {
  margin-top: 20px;
}

.challenges-container h2 {
  font-size: 1.25rem;
  color: #333;
  margin-bottom: 10px;
}

/* Challenges List */
.challenges-list {
  list-style: none; /* Supprime les puces */
  padding: 0;
  margin: 0;
}

.challenge-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 8px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #FAF7F0;

  transition: background-color 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}

.challenge-item:hover {
  background-color: #f0f0f0;
}

.challenge-link {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 500;
}

.challenge-link:hover {
  text-decoration: underline;
}

/* No challenges message */
.challenges-container p {
  color: #999;
  font-style: italic;
}

.form-container {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 40px 80px;
  margin-block: 40px;
  border-radius: 10px;
  background-color: #FAF7F0;
}

.challenges-form {

}

.challenges-form input {
  font-size: 1rem;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 20px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.challenges-form button{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 10px 20px;
  margin: 20px 0;
  margin-top: 30px;
  border: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
}
